<a href="https://colab.research.google.com/github/hasmitha23/python-basic-problems/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basic Operations

In [ ]:
print("Welcome to Python!")

In [ ]:
a = 5
b = 7
print('Sum:', a + b)

In [ ]:
a = 3
b = 4
print('Product:', a * b)

## Conditionals

In [ ]:
num = 10
if num % 2 == 0:
    print('Even')
else:
    print('Odd')

In [ ]:
a, b, c = 3, 7, 5
if a > b and a > c:
    print('Maximum:', a)
elif b > c:
    print('Maximum:', b)
else:
    print('Maximum:', c)

In [ ]:
num = -5
if num > 0:
    print('Positive')
elif num < 0:
    print('Negative')
else:
    print('Zero')

## Loops

In [ ]:
for i in range(1, 11):
    print(i, end=' ')

In [ ]:
n = 5
print('Sum:', sum(range(1, n+1)))

In [ ]:
num = 3
for i in range(1, 11):
    print(f'{num} x {i} = {num*i}')

## Functions

In [ ]:
def add(a, b):
    return a + b

print('Sum:', add(4, 5))

In [ ]:
def factorial(n):
    return 1 if n == 0 else n * factorial(n-1)

print('Factorial:', factorial(5))

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print('Is Prime:', is_prime(7))

## Lists

In [ ]:
lst = [10, 20, 5, 30]
print('Largest:', max(lst))

In [ ]:
lst = [1, 2, 3, 4]
print('Reversed:', lst[::-1])

In [ ]:
lst = [3, 1, 4, 2]
print('Sorted Descending:', sorted(lst, reverse=True))